<%- include('../inc/top') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border border-success">
                    <div class="card-header text-primary">
                        <h2>
                            Thông tin User
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="text">User</label>
                            <input type="text" class="form-control" value="<%= us.username %>" disabled>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" value="<%= us.email %>" disabled>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="text">Role</label>
                            <select class="form-select" disabled>
                                <% if( us.role=='admin' ){%>
                                    <option>
                                        Admin
                                    </option>
                                    <%}else{%>
                                        <option>
                                            User
                                        </option>
                                        <%};%>
                            </select>
                        </div>
                        <h6 class="text-danger">
                            <%=msg%>
                        </h6>
                        <hr>
                        <a type="button" class="btn btn-secondary me-2" href="/">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <%if(typeof(ttAc)!='undefined'){%>
                            <%if(ttAc.role=='admin' && us.role=='admin' ){%>
                                <!-- Button modal -->
                                <button type="button" class="btn btn-success me-2" data-bs-toggle="modal"
                                    data-bs-target="#ModalUpdate">
                                    Update
                                </button>
                                <%}else if(ttAc.role=='admin' && us.role=='user' ){%>
                                    <!-- Button modal -->
                                    <button type="button" class="btn btn-success me-2" data-bs-toggle="modal"
                                        data-bs-target="#ModalUpdate">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#ModalDelete">
                                        Delete
                                    </button>
                                    <%}%>
                                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <%- include('../inc/bottom') %>

        <!-- Modal Update -->
        <div class="modal fade" id="ModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="#">
                            <div class="form-group">
                                <label for="text">User Name</label>
                                <input type="text" class="form-control bg-light" value="<%=us.username%>"
                                    name="username" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control bg-light" value="<%=us.email%>" name="email"
                                    required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="text">Role</label>
                                <select class="form-select bg-light" name="role" required>
                                    <% if( us.role=='admin' ){%>
                                        <option value="admin" selected>
                                            Admin
                                        </option>
                                        <option value="user">
                                            User
                                        </option>
                                        <%}else{%>
                                            <option value="admin">
                                                Admin
                                            </option>
                                            <option value="user" selected>
                                                User
                                            </option>
                                            <%};%>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Bạn muốn xóa Product này</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <a href="/delete/<%= us._id %>"><button class="btn btn-danger">Xóa</button></a>
                    </div>
                </div>
            </div>
        </div>